<!DOCTYPE html>
<html>
<head>
    <title>Register as a New Customer</title>
</head>
<body>
    <form action="#/register">
        <label for="firstName">First name:</label><br>
        <input type="text" id="firstName" name="firstName"><br>
        <label for="lastName">Last name:</label><br>
        <input type="text" id="lastName" name="lastName"><br>
        <input type="text" id="userType" value="CUSTOMER" hidden="hidden">
        <label for="email">E-mail address:</label><br>
        <input type="email" id="email" name="email"><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>